<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Boston House Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Age" placeholder="Age" required="required" /><br>
        <input type="text" name="BusinessTravel" placeholder="BusinessTravel" required="required" /><br>
        <input type="text" name="DailyRate" placeholder="DailyRate" required="required" /><br>
        <input type="text" name="Department" placeholder="Department" required="required" /><br>
        <input type="text" name="DistanceFromHome" placeholder="DistanceFromHome" required="required" /><br>
        <input type="text" name="Education" placeholder="Education" required="required" /><br>
        <input type="text" name="EducationField" placeholder="EducationField" required="required" /><br>
        <input type="text" name="EmployeeCount" placeholder="EmployeeCount" required="required" /><br>
        <input type="text" name="EmployeeNumber" placeholder="EmployeeNumber" required="required" /><br>
        <input type="text" name="EnvironmentSatisfaction" placeholder="EnvironmentSatisfaction" required="required" /><br>
        <input type="text" name="Gender" placeholder="Gender" required="required" /><br>
        <input type="text" name="HourlyRate" placeholder="HourlyRate" required="required" /><br>
        <input type="text" name="JobInvolvement" placeholder="JobInvolvement" required="required" /><br>
        <input type="text" name="JobLevel" placeholder="JobLevel" required="required" /><br>
        <input type="text" name="JobRole" placeholder="JobRole" required="required" /><br>
        <input type="text" name="JobSatisfaction" placeholder="JobSatisfaction" required="required" /><br>
        <input type="text" name="MaritalStatus" placeholder="MaritalStatus" required="required" /><br>
        <input type="text" name="MonthlyIncome" placeholder="MonthlyIncome" required="required" /><br>
        <input type="text" name="MonthlyRate" placeholder="MonthlyRate" required="required" /><br>
        <input type="text" name="NumCompaniesWorked" placeholder="NumCompaniesWorked" required="required" /><br>
        <input type="text" name="OverTime" placeholder="OverTime" required="required" /><br>
        <input type="text" name="PercentSalaryHike" placeholder="PercentSalaryHike" required="required" /><br>
        <input type="text" name="PerformanceRating" placeholder="PerformanceRating" required="required" /><br>
        <input type="text" name="RelationshipSatisfaction" placeholder="RelationshipSatisfaction" required="required" /><br>
        <input type="text" name="StandardHours" placeholder="StandardHours" required="required" /><br>
        <input type="text" name="StockOptionLevel" placeholder="StockOptionLevel" required="required" /><br>
        <input type="text" name="TotalWorkingYears" placeholder="TotalWorkingYears" required="required" /><br>
        <input type="text" name="TrainingTimesLastYear" placeholder="TrainingTimesLastYear" required="required" /><br>
        <input type="text" name="WorkLifeBalance" placeholder="WorkLifeBalance" required="required" /><br>
        <input type="text" name="YearsAtCompany" placeholder="YearsAtCompany" required="required" /><br>
        <input type="text" name="YearsInCurrentRole" placeholder="YearsInCurrentRole" required="required" /><br>
        <input type="text" name="YearsSinceLastPromotion" placeholder="YearsSinceLastPromotion" required="required" /><br>
        <input type="text" name="YearsWithCurrManager" placeholder="YearsWithCurrManager" required="required" /><br>

       
       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>